In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('2018_지하철수.csv')
data.head()

,fid,field_1,시군구,번지,본번,부번,단지명,전월세구분,전용면적(㎡),계약년월,계약일,보증금(만원),월세(만원),층,건축년도,도로명,위도,경도,지하철수
0,1,0,서울특별시 강남구 개포동,03월 13일,13,3,대청타워,월세,31.91,201801,15,500,70,20,1997.0,개포로 623,37.494341,127.079648,1
1,2,1,서울특별시 강남구 개포동,03월 13일,13,3,대청타워,월세,32.44,201802,13,"1,000",55,22,1997.0,개포로 623,37.494341,127.079648,1
2,3,2,서울특별시 강남구 개포동,03월 13일,13,3,대청타워,월세,31.91,201809,12,"1,000",60,10,1997.0,개포로 623,37.494341,127.079648,1
3,4,3,서울특별시 강남구 개포동,03월 13일,13,3,대청타워,월세,32.44,201812,17,"1,000",62,17,1997.0,개포로 623,37.494341,127.079648,1
4,5,4,서울특별시 강남구 개포동,1236-4,1236,4,디오빌,월세,25.72,201801,20,"2,000",45,3,2005.0,논현로18길 10-10,37.477252,127.046084,0

In [2]:
import pandas as pd

In [15]:
sub = pd.read_csv('C:/Users/PC/Desktop/subway.csv', encoding='cp949')
sub.drop(columns='Unnamed: 0', inplace= True, axis=1)
sub.rename(columns={'??궗_ID':'역사ID'}, inplace = True)
sub.tail()
sub.to_csv('데이터/서울시_지하철_위경도.csv', index=False, encoding="utf-8-sig")