In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('2018_지하철수.csv')
data.head()

,fid,field_1,시군구,번지,본번,부번,단지명,전월세구분,전용면적(㎡),계약년월,계약일,보증금(만원),월세(만원),층,건축년도,도로명,위도,경도,지하철수
0,1,0,서울특별시 강남구 개포동,03월 13일,13,3,대청타워,월세,31.91,201801,15,500,70,20,1997.0,개포로 623,37.494341,127.079648,1
1,2,1,서울특별시 강남구 개포동,03월 13일,13,3,대청타워,월세,32.44,201802,13,"1,000",55,22,1997.0,개포로 623,37.494341,127.079648,1
2,3,2,서울특별시 강남구 개포동,03월 13일,13,3,대청타워,월세,31.91,201809,12,"1,000",60,10,1997.0,개포로 623,37.494341,127.079648,1
3,4,3,서울특별시 강남구 개포동,03월 13일,13,3,대청타워,월세,32.44,201812,17,"1,000",62,17,1997.0,개포로 623,37.494341,127.079648,1
4,5,4,서울특별시 강남구 개포동,1236-4,1236,4,디오빌,월세,25.72,201801,20,"2,000",45,3,2005.0,논현로18길 10-10,37.477252,127.046084,0

In [2]:
import pandas as pd

In [15]:
sub = pd.read_csv('C:/Users/PC/Desktop/subway.csv', encoding='cp949')
sub.drop(columns='Unnamed: 0', inplace= True, axis=1)
sub.rename(columns={'??궗_ID':'역사ID'}, inplace = True)
sub.tail()
sub.to_csv('데이터/서울시_지하철_위경도.csv', index=False, encoding="utf-8-sig")

In [37]:
food =pd.read_csv('데이터/중구_휴게음식점_위경도최종.csv',encoding='cp949')
food.tail()

,상세영업상태명,도로명주소,사업장명,업태구분명,좌표정보(X),좌표정보(Y),위도,경도
2059,영업,서울특별시 중구 세종대로 119 1층 (태평로1가),(사)서울도시건축비엔날레(서울도시건축전시관),커피숍,197872.5374,451628.9017,37.566942,126.973817
2060,영업,서울특별시 중구 마른내로 49 (인현동1가 외 2필지 지상12층),셀렉토커피 을지로점,커피숍,199375.4571,451359.0138,37.564512,126.990829
2061,영업,서울특별시 중구 동호로 376 1층 (방산동),도프(DOF),커피숍,200149.6614,451742.6504,37.567969,126.999592
2062,영업,서울특별시 중구 장충단로13길 5 1층 (을지로6가),도스마스 동대문점,패스트푸드,200666.8247,451718.5428,37.567752,127.005446
2063,영업,서울특별시 중구 다산로46길 17 1층 127호 (흥인동),보스턴샐러드하우스 동대문점,커피숍,201442.0390,451619.8455,37.566862,127.014220

In [38]:
food.to_csv('데이터/중구_휴게음식점_위경도최종.csv',index=False, encoding="utf-8-sig")

In [ ]:
food.to_csv()

In [34]:
tmp = food.loc[food['위도'] == 'inf']
tmp

Empty DataFrame
Columns: [상세영업상태명, 도로명주소, 사업장명, 업태구분명, 좌표정보(X), 좌표정보(Y), 위도, 경도]
Index: []

In [32]:
food = food.loc[food['위도']!='inf']
food.reset_index(drop=True, inplace = True)
food.tail()

InvalidIndexError: 0       True
1       True
2       True
3       True
4       True
        ...
2065    True
2066    True
2067    True
2068    True
2069    True
Name: 위도, Length: 2070, dtype: bool

In [58]:
data = pd.read_csv('C:/Users/PC/Desktop/data_지하철_음식점.csv', encoding='')
data.columns = ['단지명', '전용면적', '계약년월', '계약일', '보증금(만)', '월세(만)', '층', '위도', '경도',
       '지하철역', '지하철까지거리m', '500m내음식점갯수']
data.replace('서울역역','서울역', inplace =True)
data.head()

,단지명,전용면적,계약년월,계약일,보증금(만),월세(만),층,위도,경도,지하철역,지하철까지거리m,500m내음식점갯수
0,남산트라팰리스,116.11,202201,10,"20,000",450,24,37.553995,126.975613,서울역,300.405119,54
1,남산트라팰리스,116.11,202201,21,"1,000",347,26,37.553995,126.975613,서울역,300.405119,54
2,남산트라팰리스,148.47,202201,28,0,675,31,37.553995,126.975613,서울역,300.405119,54
3,남산트라팰리스,126.78,202204,13,0,500,6,37.553995,126.975613,서울역,300.405119,54
4,남산트라팰리스,116.11,202208,10,0,493,22,37.553995,126.975613,서울역,300.405119,54

In [59]:
data.to_csv('데이터/data_지하철_음식점.csv',index=False, encoding="utf-8-sig")

In [60]:
data.head()

,단지명,전용면적,계약년월,계약일,보증금(만),월세(만),층,위도,경도,지하철역,지하철까지거리m,500m내음식점갯수
0,남산트라팰리스,116.11,202201,10,"20,000",450,24,37.553995,126.975613,서울역,300.405119,54
1,남산트라팰리스,116.11,202201,21,"1,000",347,26,37.553995,126.975613,서울역,300.405119,54
2,남산트라팰리스,148.47,202201,28,0,675,31,37.553995,126.975613,서울역,300.405119,54
3,남산트라팰리스,126.78,202204,13,0,500,6,37.553995,126.975613,서울역,300.405119,54
4,남산트라팰리스,116.11,202208,10,0,493,22,37.553995,126.975613,서울역,300.405119,54