In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('데이터/중구_문화관광_문화재.csv')
data.tail()

     분류1                 명칭        도로명 주소  분류2      분류3         위도          경도
148  문화재             유관순 상   중구 장충단로 101   문화재  문화유적/동상  37.560177  127.005621
149  문화재      유성룡 집터(柳成龍家址)    중구 퇴계로 173  문화재  문화유적/동상  37.559696  126.980929
150  문화재         유정 사명대사 상     중구 동호로 261  문화재  문화유적/동상  37.552537  127.012435
151  문화재            윤관장군 상      중구 칠패로 5   문화재  문화유적/동상  37.559443  126.968909
152  문화재  윤선도선생 집터(尹善道先生家址)     중구 명동길 73  문화재  문화유적/동상  37.564327  126.986087

In [3]:
data= pd.read_csv('데이터/data_infra.csv')
data

,단지명,전용면�,계약년�,계약일,보증금(,월세(만,층,위도,경도,지하철�,...,계약날�,환율,500M맛집,500M문화공간,500M문화재,500M쇼핑,1000m맛집,1000m문화공간,1000m문화재,1000m쇼핑
0,약수하이츠,114.9200,202201,3,60000.0,130,14,37.555192,127.016359,신금호역,...,2022/01/03,1185.5,7,3,9,0,47,17,24,13
1,한진해모로,27.2700,202201,3,2150.0,5,7,37.563728,127.025711,상왕십리역,...,2022/01/03,1185.5,3,0,0,0,18,7,4,16
2,남산타운,84.8800,202201,4,5000.0,220,15,37.547167,127.005677,버티고개역,...,2022/01/04,1190.8,10,1,0,1,30,13,28,6
3,서울역센트럴자이,84.9791,202201,4,64000.0,100,9,37.554780,126.964458,충정로(경기대입구)역,...,2022/01/04,1190.8,1,2,4,0,47,20,55,4
4,남산타운,59.9400,202201,5,5000.0,116,16,37.547167,127.005677,버티고개역,...,2022/01/05,1194.3,10,1,0,1,30,13,28,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1365,창성그린빌,63.7400,202211,28,23100.0,14,2,37.570129,127.021415,신당역,...,2022/11/28,1326.8,3,1,1,3,22,7,4,23
1366,신당파인힐하나유보라,30.2477,202211,28,4000.0,73,9,37.564780,127.024710,상왕십리역,...,2022/11/28,1326.8,6,0,0,0,18,7,4,22
1367,삼정아트테라스정동,18.0824,202211,29,10000.0,50,4,37.563251,126.972031,시청역,...,2022/11/29,1339.0,33,13,37,1,143,42,101,11
1368,약수하이츠,57.6300,202211,30,25000.0,80,9,37.555192,127.016359,신금호역,...,2022/11/30,1331.5,7,3,9,0,47,17,24,13
1369,신당KCC스위첸,45.7339,202211,30,5000.0,150,7,37.563333,127.024509,상왕십리역,...,2022/11/30,1331.5,5,0,1,0,18,7,4,16

In [6]:
data.columns = ['단지명', '전용면적', '계약년도', '계약일', '보증금', '월세', '층', '위도', '경도', '지하철역',
       '지하철거리', '500m음식점수', '계약날짜', '환율', '500m맛집', '500m문화공간', '500m문화재',
       '500m쇼핑', '1000m맛집', '1000m문화공간', '1000m문화재', '1000m쇼핑']

In [7]:
data.to_csv('데이터/data_최종.csv', index=False, encoding="utf-8-sig")

In [14]:
bus = pd.read_csv('머지.csv')
bus = bus.loc[:,['가장 가까운 버스정류장까지 거리(m)','가장 가까운 버스정류장']]
bus.tail()

      가장 가까운 버스정류장까지 거리(m)    가장 가까운 버스정류장
1365            167.209222         황학동롯데캐슬
1366             17.870215      신당파인힐하나유보라
1367            230.684208        서소문KAL빌딩
1368            392.934357  신당동대우푸르지오.금호여중
1369            120.540826  금호베스트빌.래미안하이베르

In [15]:
data = pd.concat([data,bus], axis=1)
data.tail()

,단지명,전용면적,계약년도,계약일,보증금,월세,층,위도,경도,지하철역,...,500m맛집,500m문화공간,500m문화재,500m쇼핑,1000m맛집,1000m문화공간,1000m문화재,1000m쇼핑,가장 가까운 버스정류장까지 거리(m),가장 가까운 버스정류장
1365,창성그린빌,63.7400,202211,28,23100.0,14,2,37.570129,127.021415,신당역,...,3,1,1,3,22,7,4,23,167.209222,황학동롯데캐슬
1366,신당파인힐하나유보라,30.2477,202211,28,4000.0,73,9,37.564780,127.024710,상왕십리역,...,6,0,0,0,18,7,4,22,17.870215,신당파인힐하나유보라
1367,삼정아트테라스정동,18.0824,202211,29,10000.0,50,4,37.563251,126.972031,시청역,...,33,13,37,1,143,42,101,11,230.684208,서소문KAL빌딩
1368,약수하이츠,57.6300,202211,30,25000.0,80,9,37.555192,127.016359,신금호역,...,7,3,9,0,47,17,24,13,392.934357,신당동대우푸르지오.금호여중
1369,신당KCC스위첸,45.7339,202211,30,5000.0,150,7,37.563333,127.024509,상왕십리역,...,5,0,1,0,18,7,4,16,120.540826,금호베스트빌.래미안하이베르

In [17]:
data.to_csv('데이터/data_최종.csv' ,index=False, encoding="utf-8-sig")